<% content_for :seo_tags do %>
  <title>Dandy Care | Hospital, Medical, & Healthcare Software Development</title>
  <meta name="description" content="Dandy Care is a hospital, medical, and healthcare software development company. We create custom healthcare software projects. Contact us today to start your project. ">
<% end %>

 <div class="bg-parallax fullscreen parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url(<%= asset_url('doctorroom.jpg') %>)'>
  <div class="d-flex align-items-center">
      <div class="container">
          <div class=" row">
              <div class="col-lg-10 ml-auto mr-auto text-center">
                  <div class="hero-text-style1">
                      <h1 class="font700 text-white text-capitalize mb20">
                        Medical Software Developers
                      </h1><!--/.tlt-->
                      <p class="lead text-white-gray">
                        Hospital, Medical, and Healthcare Software Developers.
                      </p>
                      <a href="https://www.dandy.care/users/sign_in" class="btn btn-rounded btn-white-outline">View Demo App</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<%= render 'guests/features/featurelist' %>
<%= render 'guests/index/screenshot' %>
<%= render 'guests/shared/leadgen2' %>
<%= render 'guests/index/paragraph' %>
