<!DOCTYPE html>
<html>
  <head>
    <% if yield(:seo_tags).present? %>
      <%= yield(:seo_tags) %>
    <% else %>
      <title>OnePage</title>
    <% end %>

    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'guest', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shared/gtag' %>
  </head>

  <body>
    <div id="preloader">
      <div id="preloader-inner"></div>
    </div><!--/preloader-->
    <%= render 'layouts/guests/header' %>
    <%= yield %>
    <%= render 'layouts/guests/footer' %>
    <%= javascript_include_tag 'guest', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
